.Footer {
  margin-top: 100px;
  display: flex;
  height: 200px;
  background-color: #f5f5f5;
  padding: 0 2rem;
  justify-content: space-between;
}

.Footer h2,
.Footer p {
  margin: 0;
}

.subscribe-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.subscribe-box p {
  color: #696969;
}

.subscribe-input {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.subscribe-input input {
  box-sizing: border-box;
  width: 200px;
  height: 28px;
  border-radius: 8px 0 0 8px;
  border: none;
  outline: 2px solid gray;
  margin-right: 2px;
  padding-left: 8px;
  transition: 200ms ease;
}

.subscribe-input input:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.486);
  outline-color: black;
}

.subscribe-input input:focus {
  outline-color: black;
}

.subscribe-input button {
  width: 80px;
  height: 28px;
  background-color: #f1d2ff;
  border: none;
  margin-left: 2px;
  outline: 2px solid #be9dce;
  font-size: 0.9rem;
  color: #362141;
  border-radius: 0 8px 8px 0;
  transition: 200ms ease;
}

.subscribe-input button:hover {
  outline: 2px solid #8d6b9e;
  box-shadow: 0px 0px 4px #8d6b9e;
  cursor: pointer;
}

.subscribe-input button:active {
  background-color: #d0ade2;
}

.subscribe-linkbox h3 {
  margin: 0;
  margin-top: 44px;
  margin-bottom: 12px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #696969;
}
