.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 80px;
  border-bottom: 1px solid black;
}

.header h1 {
  letter-spacing: 5px;
}

.header-right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.header img {
  height: 2.5rem;
}

.header a {
  text-decoration: none;
  color: black;
  transition: transform 300ms ease;
}

.header a:hover {
  transform: scale(1.2);
}

.item-num {
  position: absolute;
  background-color: rgb(241, 210, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  width: 28px;
  height: 28px;
  right: 0;
  margin-right: 12px;
  margin-top: 32px;
  font-weight: bold;
}
