.home-description {
  box-sizing: border-box;
  height: 130svh;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  padding: 0 10%;
  margin: 110px 0;
  overflow: hidden;
}

.home-description p {
  margin: 0;
  font-size: 18px;
}

.home-description img {
  height: 50%px;
  width: 100%;
}

.home-description-left,
.home-description-right {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.home-desc-hline-left,
.home-desc-hline-right {
  position: absolute;
  height: 4px;
  z-index: -1;
  background-color: black;
}

.home-desc-hline-left {
  width: 300px;
  top: 20%;
  left: -250px;
  right: 0;
}

.home-desc-hline-right {
  width: 300px;
  bottom: 20%;
  right: -250px;
}

.home-description-left {
  justify-content: flex-start;
}

.home-description-left-text {
  margin-top: 20px;
}

.home-description-left img {
  box-shadow: -30px 30px rgb(241, 210, 255);
}

.home-description-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.home-description-right-text {
  margin-bottom: 40px;
}

.home-description-right img {
  box-shadow: 30px -30px rgb(241, 210, 255);
}

.desc-hidden {
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s all;
}

.desc-show {
  transform: translateX(0);
  opacity: 1;
}

.sm-view {
  display: none;
}

@media screen and (width<=1250px) {
  .home-description {
    height: 110svh;
  }
}

@media screen and (width<=1000px) {
  .home-description {
    height: 100svh;
  }
}

@media screen and (width<=900px) {
  .home-description {
    height: 90svh;
  }
}

@media screen and (width<=600px) {
  .home-description {
    grid-template-columns: minmax(50px, 1fr);
    gap: 100px;
    height: auto;
  }

  .home-description-left {
    flex-direction: column-reverse;
  }

  .home-desc-hline-left {
    top: 50%;
  }

  .home-description-right {
    flex-direction: column-reverse;
  }

  .home-desc-hline-right {
    bottom: 50%;
  }

  .lg-view {
    display: none;
  }

  .sm-view {
    display: block;
  }
}
