.home-banner {
  box-sizing: border-box;
  height: auto;
  background: rgb(241, 210, 255);
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
  position: relative;
}

.home-banner h1 {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  font-size: 64px;
}

.banner-container {
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 16px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.banner-item {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 14px;
  transition: all 400ms;
}

.banner-item p {
  font-size: 24px;
}

.banner-item img {
  width: 100%;
  aspect-ratio: 1/1;
}

.banner-item:hover {
  cursor: pointer;
  box-shadow: 15px 25px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-20px);
}

.banner-end {
  height: 40svh;
  background-color: rgb(187, 149, 204);
  text-align: center;
  justify-content: center;
  display: flex;
  color: white;
}

.banner-end h1 {
  font-size: clamp(48px, 82px, 100px);
}
.custom-shape-divider-bottom-1680893884 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  filter: invert(99%) sepia(82%) saturate(2%) hue-rotate(358deg)
    brightness(108%) contrast(100%);
}

@media screen and (width<=1200px) {
  .home-banner h1 {
    font-size: 48px;
    top: -65px;
  }

  .banner-item p {
    font-size: 20px;
  }
}

@media screen and (width<=800px) {
  .banner-container {
    grid-template-columns: repeat(1, minmax(200px, 300px));
    gap: 48px;
  }

  .home-banner {
    margin-bottom: 0;
  }

  .banner-item p {
    font-size: 18px;
  }
}
