.home-shirt {
  height: 120svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-shirt-content {
  background-color: rgb(241, 210, 255);
  width: 700px;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-shirt-img {
  width: 500px;
  top: -100px;
  left: -300px;
  position: absolute;
}
