.home {
  display: flex;
  height: 80svh;
  background-color: rgb(58, 41, 41);
  overflow: hidden;
  color: white;
}

.home-background {
  display: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: scale(1);
  transition: transform 800ms ease-out;
  background-color: gray;
  background-blend-mode: multiply;
}

.home:hover > .home-background {
  transform: scale(1.1);
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  right: 10%;
  top: 30%;
}

.content button {
  width: 200px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  transition: box-shadow 200ms ease;
}

.content button:hover {
  box-shadow: 0px 0px 12px white;
  cursor: pointer;
}

.content button:active {
  outline: 2px solid rgb(0, 0, 0);
}
