@keyframes onLoad {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.home {
  display: flex;
  position: relative;
  min-height: 500px;
  height: 80svh;
  background-color: rgb(58, 41, 41);
  overflow: hidden;
  color: white;
}

.home-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: scale(1);
  transition: transform 800ms ease-out;
  background-color: gray;
  background-blend-mode: multiply;
}

.home:hover > .home-background {
  transform: scale(1.1);
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  right: 10%;
  top: 30%;
  text-shadow: 0px 0px 8px black;
  animation-name: onLoad;
  animation-duration: 1000ms;
}

.content button {
  width: 200px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  transition: box-shadow 200ms ease;
  transition: transform 300ms ease-in-out;
}

.content button:hover {
  box-shadow: 0px 0px 12px white;
  cursor: pointer;
  transform: scale(1.1);
}

.content button:active {
  outline: 2px solid rgb(0, 0, 0);
}

@media screen and (width <=600px) {
  .content {
    width: 300px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
