.home-sale {
  height: 70svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: gray;
  background-blend-mode: multiply;
}

.home-sale-text h1 {
  font-size: 64px;
  margin: 0;
}

.home-sale-text p {
  font-size: 24px;
}

.home-sale-text {
  color: white;
  width: 50%;
  text-shadow: 0px 0px 8px black;
}

.hs-hidden {
  opacity: 0;
  transform: translateY(100%) scaleY(200%);
  transition: all 1s;
}

.hs-show {
  opacity: 1;
  transform: translateY(0);
}
