.cart-container {
  display: flex;
  padding: 0 10%;
  align-items: center;
  flex-direction: column;
}

.buy-item,
.confirm-purchase {
  display: flex;
  width: 400px;
  border: 1px solid gray;
  border-radius: 12px;
  margin-bottom: 16px;
}

.buy-item {
  align-items: center;
  height: 150px;
}

.buy-item img {
  height: 120px;
}

.confirm-purchase {
  box-sizing: border-box;
  padding: 16px;
  flex-direction: column;
}

.confirm-purchase h3 {
  margin: 12px 0;
}

.confirm-purchase p {
  margin: 6px 0;
}

.text-seperation {
  display: flex;
  justify-content: space-between;
}

.total {
  padding: 12px 0;
  border-top: 1px solid gray;
  font-weight: bold;
}
