* {
  margin: 0;
  box-sizing: border-box;
}

.product-container {
  display: grid;
  margin-top: 28px;
  padding: 0 10%;
  grid-template-columns: repeat(2, 1fr);
  min-height: 500px;
  height: 60svh;
}

.img {
  background-color: aquamarine;
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.product-info h1 {
  letter-spacing: 4px;
  padding-bottom: 14px;
  border-bottom: 1px solid black;
}

.cost-text {
  padding: 14px 0;
  font-size: 24px;
}

.product-text {
  color: gray;
}

h3 {
  margin-top: 14px;
  margin-bottom: 4px;
}
.color-picker {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
}
.color {
  border: 2px solid black;
  border-radius: 18px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color.black > div {
  background-color: black;
  height: 17px;
  width: 17px;
  border-radius: 15px;
}
