@keyframes onLoad {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.categories {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.men-button,
.women-button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
}

.men-button {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.2rem;
}

.women-button {
  background-color: white;
  font-size: 1.2rem;
}

.item-container {
  margin-bottom: 100px;
  padding: 0 15%;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  height: 300px;
  gap: 8px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 12px;
  transition: transform 300ms ease-in-out;
  animation-name: onLoad;
  animation-duration: 700ms;
}

.item img {
  padding: 0 10%;
  height: 70%;
  border-radius: 12px;
}

.item p {
  margin: 0;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.486);
}

.item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-btn {
  margin: 0 10%;
  border-radius: 8px;
  height: 30px;
  color: white;
  background-color: black;
  font-size: 1rem;
  border: none;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}

.item-btn:hover {
  background-color: rgb(80, 80, 80);
  box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.521);
}
