.categories {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.men-button,
.women-button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
}

.men-button {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.4rem;
}

.item-container {
  outline: 1px solid black;
  margin-bottom: 100px;
  padding: 0 15%;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.item {
  height: 250px;
  border: 1px solid black;
}
